<!doctype html>
<html lang="en" data-ng-app="miApp" data-ng-strict-di>
<head>
    <meta charset="UTF-8">
    <title>Angular js</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style type="text/css">
		.square{min-height: 100px; min-width: 100px; display:inline-block;}
		.flotar{float:right; padding:0 10px;}
		.fondoRojo{background-color:red;}
		.bordesRedondeados{border: 1px solid black; border-radius: 10px;}
	</style>
</head>
<body>
    <div class="container">
        <h1>Directivas</h1>
        <div ng-controller="classCtrl">
        	<div class="square" ng-class="{
        		'flotar': flotar,
        		'fondoRojo':fondoRojo,
        		'bordesRedondeados':bordesRedondeados}">
        		<span ng-style="styles">Ejemplo de los usos de ng-class</span>
				<div>
					<input type="checkbox" ng-model="flotar"> Flotar <br>
					<input type="checkbox" ng-model="fondoRojo"> Fondo Rojo <br>
					<input type="checkbox" ng-model="bordesRedondeados"> Border Redondeados <br>
				</div>
        	</div>
        	
        </div>
    </div>
    <script type="text/javascript" src="js/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/Controllers/classCtrl.js"></script>
</body>
</html>