<!doctype html>
<html lang="en" data-ng-app="miApp" data-ng-strict-di>
<head>
    <meta charset="UTF-8">
    <title>Angular js</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>My first App</h1>
        <div data-ng-controller="PlaylistProviderCtrl">
            <ul>
                <li data-ng-repeat="titulo in playlist"> <span ng-bind="titulo"></span></li>
            </ul>
        </div>
        <hr>
        <div data-ng-controller="PlaylistMetodosProviderCtrl">
            <ol>
                <li data-ng-repeat="titulo in playlist">
                    <span ng-bind="titulo"></span>
                    <a href="#" class="button" data-ng-click="borrar($index); $event.preventDefault();">&times;</a>
                </li>
            </ol>
            <hr>
            <div><small ng-bind="countSongs"></small></div>
        </div>
        <div ng-controller="PromiseCtrl">
            <p>Estado del servidor: {{status}}</p>
            <p>Estado del servidor HTTP: {{http}}</p>
            <p>Estado del servicio de Base de Datos: {{db}}</p>
            <p>Estado de conexiones seguras: {{ssl}}</p>
        </div>
        <div ng-controller="AppCtrl">
            <button ng-click="accion(false)">Resolver</button>
            <button ng-click="accion(true)">Rechazar</button>
            <div>{{resuelta}}</div>
            <div>{{rechazada}}</div>
        </div>
    </div>
    <script type="text/javascript" src="js/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/Config/Playlist.js"></script>
    <script src="js/Services/PlaylistProvider.js"></script>
    <script src="js/Controllers/PlaylistProviderCtrl.js"></script>
    <script src="js/Controllers/PlaylistMetodosProviderCtrl.js"></script>
    <script src="js/Controllers/PromiseCtrl.js"></script>
</body>
</html>