<!doctype html>
<html lang="en" data-ng-app="miApp" data-ng-strict-di>
<head>
    <meta charset="UTF-8">
    <title>Angular js</title>
</head>
<body>
    <div class="container" data-ng-controller="PlaylistCtrl">
        <ul>
            <li data-ng-repeat="titulo in playlist">{{titulo}}</li>
        </ul>
    </div>
    <div data-ng-controller="PlaylistMetodosCtrl">
        <ul>
            <li data-ng-repeat="titulo in playlist">
                {{titulo}}
                <a href="#" class="button" data-ng-click="borrar($index)">&times;</a>
            </li>
        </ul>
    </div>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/Services/Playlist.js"></script>
    <script src="js/Controllers/PlaylistCtrl.js"></script>
    <script src="js/Controllers/PlaylistMetodosCtrl.js"></script>
</body>
</html>