<!doctype html>
<html lang="en" data-ng-app="miApp" data-ng-strict-di>
<head>
    <meta charset="UTF-8">
    <title>Angular js</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>My first App</h1>
        <div data-ng-controller="PlaylistProviderCtrl">
            <ul>
                <li data-ng-repeat="titulo in playlist">{{titulo}}</li>
            </ul>
        </div>
        <hr>
        <div data-ng-controller="PlaylistMetodosProviderCtrl">
            <ol>
                <li data-ng-repeat="titulo in playlist">
                    {{titulo}}
                    <a href="#" class="button" data-ng-click="borrar($index); $event.preventDefault();">&times;</a>
                </li>
            </ol>
        </div>
    </div>
    <script type="text/javascript" src="js/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/Config/Playlist.js"></script>
    <script src="js/Services/PlaylistProvider.js"></script>
    <script src="js/Controllers/PlaylistProviderCtrl.js"></script>
    <script src="js/Controllers/PlaylistMetodosProviderCtrl.js"></script>
</body>
</html>