<div>
	<h3>Nuevo Contacto</h3>
	<form ng-submit="crear()" class="list-group">
		<div class="list-group-item">
			<label>Nombre:</label>
			<input type="text" class="form-control" ng-model="contacto.nombre">
		</div>
		<div class="list-group-item">
			<label>Email: </label>
			<input type="text" class="form-control" ng-model="contacto.email">
		</div>
		<div class="list-group-item">
			<label>Tel: </label>
			<input type="text" class="form-control" ng-model="contacto.tel">
		</div>
		<div>
			<button class="btn btn-primary">Crear</button>
		</div>
		<div>
			<a href="/">Volver</a>
		</div>
	</form>
</div>